/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, "微软雅黑", Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 1px #ccc;
}

a{
  text-decoration: none;
}

.group:before,.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.home {
  width: 100%;
  height: auto;
  background: url(../images/bg.jpg);
}
.home header{
  margin-top: 150px;
}
.home header h1{
  text-shadow: 1px 1px 1px #666;
  font-size: 64px;
  color: #666;
}
.home nav{
  height: 55px;
  width: 100%;
  background: #000;
  opacity: .6;
  margin-top: 150px;
  padding-top: 30px;
}
.home nav li{
  display: inline;
  margin-right: 80px;
}
.home nav li a{
  text-transform: uppercase;
  text-shadow: -3px -3px 1px #000;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.home nav ul li a:hover{
  background: #eee;
  border-radius: 5px;
  color: #000;
  text-shadow: none;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site header{
  background: #000;
  opacity: .9;
  height: 40px;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1; 
}
.site header h1{
  float: left;
  font-size: 28px;
  margin: 0;
}
.site header h1:hover{
  opacity: .6;
  transition: opacity .3s ease-in-out;
}
.site header nav{
  padding-top: 11px;
}
.site header a{
  color: #fff;
  text-shadow: 1px .5px .5px #ccc;
  text-decoration: none;
}
.site header ul{
  float: left;
  margin-left: 100px;
}
.site header li{
  display: inline;
  margin-right: 100px;
}
.site header li a{
  opacity: .6;
  font-size: 16px;
  text-transform: uppercase;
  padding: 8px;  
} 
.site header li a:hover{
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.content{
  width: 700px;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  top: 59px;
}

.content article header{
  position: absolute;
  left: -210px;
  margin-top: -10px;
}

.article-list{
  list-style: none;
  margin-right: 25px;
}
.article-list > li{
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-top: 25px;
}
.article-list > li:last-child{
  border-bottom: none;
}
.article-list > li:first-child{
  margin-top: 0;
}
.article-list ul, .article-list ol{
  margin-bottom: 10px;
}
.article-list header{
  width: 200px;
}
.article-list header h1{
  font-size: 19px;
  line-height: 30px;
}
.post{
  text-align: left;
}

pre{
  background-color: #49483e;
}
pre code{
  text-shadow: none;
}
.lineno{
  color: #fff;
}