<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- boostrap -->
    <link rel="stylesheet" type="text/css" href="../css/twitter/bootstrap/css/bootstrap.2.2.2.min.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="../css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="site">
      <header>
        <h1 class="group"><a href="/">Mipaprika's Blog</a></h1>
        <nav>
          <ul>
            <li><a href="../coding.html">Coding life</a></li>
            <li><a href="../life.html">Wonderful life</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </nav>
      </header>
    </div>   
    {{ content }}
  </body>
</html>